<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
        <title>Documento</title>
        <script src="https://kit.fontawesome.com/006642858d.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">  

        
     
        
    </head>

    <body>
        <div th:insert="fragments/header :: modelheader"></div>
    </body>
    
    <div class ="alert alert-success alert-dismissible fade show" role="alert" th:if=
         "${!#strings.isEmpty(chave)} ? ${chave}">
        <span th:text="${chave}"></span>
    </div>
    
    
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    
    
    
    <body>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Editar?</th>
                    <th>Excluir?</th>
                </tr>
            </thead>
            <tr th:each="p : ${produtos}">
                <td th:text="${p.id}"> </td>
                <td th:text="${p.descricao}"> </td>
                <td th:text="${#numbers.formatCurrency(p.valor)}"> </td>
                <td> <a th:href="@{/produtos/edit/{id}(id=${p.id})}">Editar</a> </td>
                <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/produtos/remove/{id}(id=${p.id})}">Excluir</a> </td>
            </tr>
        </table>

    </body>
    
<div th:insert="fragments/footer :: modelfooter"></div>